# Puerto del servidor
PORT=3001

# Stellar Soroban RPC URL (testnet)
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

# Network passphrase
NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# Contract ID desplegado en testnet
CONTRACT_ID=CC7EVOODA3S5ZNOOQM475RHTETMISZGOJPPGWCIVK2QBGQ4XFH4PNB5U

# Clave secreta del admin del contrato (para operaciones admin)
ADMIN_SECRET_KEY=

# Clave secreta del operador (para pagar fees en create_order)
OPERATOR_SECRET_KEY=

# Secreto para firmar JWTs de autenticación
JWT_SECRET=

# Clave pública Stellar del administrador (quien conecte Freighter con esta key será admin)
ADMIN_PUBKEY=GCWZ7TBXSX2RRDUJ3KDQ42A5JSUG5LFEGUJ6WHPXN274YDOAL7ZZFSZJ
